<?php
$session = Mage::getSingleton('customer/session');
if($session->isLoggedIn()) : ?>
<li><a href="<?php echo Mage::getUrl('customer/account'); ?>"><?php echo $this->__('My Account') ?></a></li>
<li><a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Logout') ?></a></li>
<?php else : ?>

<li><a href="<?php echo Mage::getUrl('customer/account'); ?>"><?php echo $this->__('Register/Login') ?></a></li>

<?php endif; ?>