<link href="http://www.iis.ac.uk/css/global.css" rel="stylesheet" type="text/css" />
<LINK rel="stylesheet" type="text/css" href="http://www.iis.ac.uk/css/size2ltr.css" title="size_2">
<LINK rel="stylesheet" type="text/css" href="http://www.iis.ac.uk/css/size1ltr.css" title="size_1" disabled>
<LINK rel="stylesheet" type="text/css" href="http://www.iis.ac.uk/css/size3ltr.css" title="size_3" disabled>
<link href="http://www.iis.ac.uk//rss.xml" type="application/rss+xml" rel="alternate" title="IIS RSS Feed" />

<link href="http://www.iis.ac.uk/css/bluetabs.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="http://www.iis.ac.uk/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />

<script type="text/javascript" src="http://www.iis.ac.uk/include/main_menu.js"></script>

<SCRIPT language="javascript" src="http://www.iis.ac.uk//js/general.js"></SCRIPT>
<SCRIPT language="javascript" src="http://www.iis.ac.uk//js/windows.js"></SCRIPT>
<SCRIPT language="javascript" src="http://www.iis.ac.uk//js/set_defaults.js"></SCRIPT>
<SCRIPT language="javascript" src="http://www.iis.ac.uk//js/ismaili_studies.js"></SCRIPT>

<script src="http://www.iis.ac.uk//js/jquery-1.3.2.min.js" type="text/javascript"></script>

<div id="spacing-top">&nbsp;</div>
<div id="top">	
		<span id="iisTitle" class="left" style="display:inline">
		<a title="The Institute of Ismaili Studies" href="http://www.iis.ac.uk/home.asp">The Institute of Ismaili Studies</a>
		</span>
				
<form class="right" action="http://www.iis.ac.uk/searchResults.asp" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="005462578309701098770:_qygld4lghm" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" class="top_search" id="textfield" value="Search The IIS Website" onFocus="checkTextInput('textfield')" onBlur="checkTextInput('textfield')" />
	<input type="image" class="go_button" alt="" src="http://www.iis.ac.uk/images/go.gif" onClick="return ($('#textfield').attr('value') != '')"/>
  </div>
</form>

	</div><a style="font-size: 0; line-height: 0"name="top"></a>
  <div id="page-wrapper"><div id="page">
<div id="logotype">
		<div id="logoHeader">
		<img height="56" width="59" class="iis_logo" alt="" src="http://www.iis.ac.uk/images/iis_logo.gif"/><br/>
		<img height="21" width="297" class="iis_brand" alt="The Institute of Ismaili Studies" src="http://www.iis.ac.uk/images/the_institute_of_ismaili_studies.gif"/>
		</div>
<div id="BackGroundDiv">				
				<img id="BannerImage" title="The Institute of Ismaili Studies: A Centre for Research and Education" height="115" width="778" class="banner" alt="The Institute of Ismaili Studies: A Centre for Research and Education" src="http://www.iis.ac.uk/WebAssets/Site_Images/header/Home_test.JPG"/>
			</div>

			
			
			
			<script type="text/javascript">
				
				var timeDelay = 10
				timeDelay *= 1000;
				
				var currentImageNo = 0;
				var images = new Array('http://www.iis.ac.uk/WebAssets/Site_Images/header/Home_test.JPG','http://www.iis.ac.uk/WebAssets/Site_Images/header/Home_1.jpg');
				var descriptions = new Array('The Institute of Ismaili Studies: A Centre for Research and Education','The Institute of Ismaili Studies: A Centre for Research and Education');
			
				function CycleImages() {
					setInterval("SlideShow()", timeDelay);
				}
				
				function SlideShow() {
					currentImageNo++;
					
					if (currentImageNo == images.length) {
						currentImageNo = 0;
					}						
						
					var bannerImage = document.getElementById('BannerImage');
					
					bannerImage.title = descriptions[currentImageNo];	
					bannerImage.alt = descriptions[currentImageNo];	
					
					//bannerImage.src = images[currentImageNo];	
					FadeInImage('BannerImage', images[currentImageNo], 'BackGroundDiv');						
				}
			
				CycleImages();
			</script>
			
			
			<script type="text/javascript">
				// Opacity and Fade in script.
				// Script copyright (C) 2008 http://www.cryer.co.uk/.
				// Script is free to use provided this copyright header is included.
				function SetOpacity(object,opacityPct)
				{
				  // IE.
				  object.style.filter = 'alpha(opacity=' + opacityPct + ')';
				  // Old mozilla and firefox
				  object.style.MozOpacity = opacityPct/100;
				  // Everything else.
				  object.style.opacity = opacityPct/100;
				}
				function ChangeOpacity(id,msDuration,msStart,fromO,toO)
				{
				  var element=document.getElementById(id);
				  var opacity = element.style.opacity * 100;
				  var msNow = (new Date()).getTime();
				  opacity = fromO + (toO - fromO) * (msNow - msStart) / msDuration;
				  if (opacity<0) 
					SetOpacity(element,0)
				  else if (opacity>100)
					SetOpacity(element,100)
				  else
				  {
					SetOpacity(element,opacity);
					element.timer = window.setTimeout("ChangeOpacity('" + id + "'," + msDuration + "," + msStart + "," + fromO + "," + toO + ")",1);
				  }
				}
				function FadeIn(id)
				{
				  var element=document.getElementById(id);
				  if (element.timer) window.clearTimeout(element.timer); 
				  var startMS = (new Date()).getTime();
				  element.timer = window.setTimeout("ChangeOpacity('" + id + "',1000," + startMS + ",0,100)",1);
				}
				function FadeOut(id)
				{
				  var element=document.getElementById(id);
				  if (element.timer) window.clearTimeout(element.timer); 
				  var startMS = (new Date()).getTime();
				  element.timer = window.setTimeout("ChangeOpacity('" + id + "',1000," + startMS + ",100,0)",1);
				}
				function FadeInImage(foregroundID,newImage,backgroundID)
				{
				  var foreground=document.getElementById(foregroundID);
				  if (backgroundID)
				  {
					var background=document.getElementById(backgroundID);
					if (background)
					{
					  background.style.backgroundImage = 'url(' + foreground.src + ')';
					  background.style.backgroundRepeat = 'no-repeat';		
					}
				  }
				  SetOpacity(foreground,0);
				  foreground.src = newImage;
				  if (foreground.timer) window.clearTimeout(foreground.timer); 
				  var startMS = (new Date()).getTime();
				  foreground.timer = window.setTimeout("ChangeOpacity('" + foregroundID + "',1000," + startMS + ",0,100)",10);
				}
			</script>
					
		<!--***** Christopher Smith 14/10/2010 *****-->
		
	</div>
<div id="top_navigation">

		



    <div id="top_nav">
<div class="bluetabs" id="bluemenu">

<ul class="en_list">

<li class="en">
	<a class="0 selected" title="Home" rel="dropmenu0_b" href="http://www.iis.ac.uk/home.asp?l=en">Home</a>
	<div class="dropmenudiv_b" id="Div1">
	<div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104413&amp;l=en">IIS Overview</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=103471&amp;l=en">His Highness the <br/>Aga Khan</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104448&amp;l=en">The Ismaili Community</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104373&amp;l=en">The Aga Khan Development Network</A></div><div class="extra-line"><br></div>
	</div>
</li>

<li class="en">
	<a class="15 2 34" title="Research & Publications" rel="dropmenu1_b" href="http://www.iis.ac.uk/ContentLink.asp?type=static&amp;id=ResearchandPublications&l=en">Research & Publications</a>
	<div class="dropmenudiv_b" id="dropmenu1_b">
	<div><A href="http://www.iis.ac.uk/ContentLink.asp?type=cont.currentlang&id=110983&amp;l=en">Central Asian Studies</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=110958&amp;l=en">Qur'anic Studies</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=105873&amp;l=en">Academic Publications</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104878&amp;l=en">Academic Articles</A></div><div><A href="http://www.iis.ac.uk/ContentLink.asp?type=cont.currentlang&id=104898&amp;l=en">Translations</A></div><div><A href="http://www.iis.ac.uk/ContentLink.asp?type=cont.currentlang&id=106381&amp;l=en">Encyclopaedia Contributions</A></div><div><A href="http://www.iis.ac.uk/ContentLink.asp?type=cont.currentlang&id=110775&amp;l=en">Author Interviews</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104298&amp;l=en">Seminars &amp; Public Lectures</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104483&amp;l=en">Scholarship Programme</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104398&amp;l=en">Visiting Fellowship Programme</A></div><div><A href="http://www.iis.ac.uk/ContentLink.asp?type=cont.currentlang&id=108962&amp;l=en">Reading Guides</A></div><div class="extra-line"><br></div>
	</div>
</li>

<li class="en">
	<a class="3" title="Graduate Studies" rel="dropmenu2_b" href="http://www.iis.ac.uk/ContentLink.asp?type=static&amp;id=graduate_studies&l=en">Graduate Studies</a>
	<div class="dropmenudiv_b" id="dropmenu2_b">
	<div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104478&amp;l=en">GPISH</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=106627&amp;l=en">STEP</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=105048&amp;l=en">Alumni</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=105818&amp;l=en">Other Programmes</A></div><div class="extra-line"><br></div>
	</div>
</li>

<li class="en">
	<a class="22" title="Learning" rel="dropmenu3_b" href="http://www.iis.ac.uk/ContentLink.asp?type=static&amp;id=learning&l=en">Learning</a>
	<div class="dropmenudiv_b" id="dropmenu3_b">
	<div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104853&amp;l=en">Ta'lim Curriculum</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104858&amp;l=en">Lifelong Learning Articles</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104628&amp;l=en">Speeches: Aga Khan III</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104623&amp;l=en">Speeches: Aga Khan IV</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=110765&amp;l=en">Videos</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104553&amp;l=en">Reading Lists</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104633&amp;l=en">PTE Programme</A></div><div class="extra-line"><br></div>
	</div>
</li>

<li class="en">
	<a class="5" title="Library" rel="dropmenu4_b" href="http://www.iis.ac.uk/ContentLink.asp?type=static&amp;id=library&l=en">Library</a>
	<div class="dropmenudiv_b" id="dropmenu4_b">
	<div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=103462&amp;l=en">Library Overview</A></div><div><A href="http://82.45.135.226:8080/?l=en#focus&amp;l=en">Library Catalogue</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104503&amp;l=en">Printed Materials</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104538&amp;l=en">Audiovisual Materials</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104728&amp;l=en">Manuscripts</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cont.currentlang&id=104748&amp;l=en">Collection Catalogues</A></div><div><A href="http://www.iis.ac.uk/contentlink.asp?type=cat&id=41&t=midlist&g=date&amp;l=en">Gallery</A></div><div class="extra-line"><br></div>
	</div>
</li>

<li class="en">
	<a class="7 20" title="News & Events" rel="dropmenu5_b" href="http://www.iis.ac.uk/ContentLink.asp?type=static&amp;id=newsevents&l=en">News & Events</a>
	<div class="dropmenudiv_b" id="dropmenu5_b">
	<div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=111353&amp;l=en">Additions to the Site</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104873&amp;l=en">Forthcoming Events</A></div><div><A href="http://www.iis.ac.uk/view_article.asp?ContentID=104498&amp;l=en">IIS Update</A></div><div class="extra-line"><br></div>
	</div>
</li>



</ul>
</div>


</div>
<script type="text/javascript">
    //SYNTAX: tabdropdown.init("menu_id", [integer OR "auto"])
    $(document).ready(function() {
        $('#logoHeader img').click(function() {
            //location.href = "/";
            location.href = "http://www.iis.ac.uk/home.asp";
        }).css("cursor", "pointer");
        var ie55 = (navigator.appName == "Microsoft Internet Explorer" && parseInt(navigator.appVersion) == 4 && navigator.appVersion.indexOf("MSIE 5.5") != -1);
        var ie6 = (navigator.appName == "Microsoft Internet Explorer" && parseInt(navigator.appVersion) == 4 && navigator.appVersion.indexOf("MSIE 6.0") != -1);
        var ie7 = (navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.indexOf("MSIE 7.0") != -1);
        var rtl = "ltr" == "rtl";
        if (jQuery.browser.msie && ((ie55) && rtl)) {
            return;
        }
        MainMenu.init({ root: "bluemenu" });
        //tabdropdown.init("bluemenu");

    });
</script>
    <!-- InstanceEndEditable -->


	</div>
